<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee details</title>
    
</head>

<style>
    table {
      border-collapse: collapse;
      width: 80%;
      
    }

    th, td {
      text-align: left;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      font-family: Tahoma, Verdana, sans-serif;
    }

    th {
      background-color: #49b8e3;
      color: white;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
  </style>

<body>
    <h1>Employee Details</h1>

<% if (results && results.length > 0) { %>
  <table>
    <tr>
      <th>Employee Code</th>
      <th>Employee Name</th>
      <th>Contact Info</th>
      <th>Salary</th>
      <th>age</th>
      <th>sex</th>
      <th>Total salary dues</th>
    </tr>
    <% results.forEach(function(results) { %>
      <tr>
        <td><%= results.employee_code %></td>
        <td><%= results.name %></td>
        <td><%= results.contact_no %></td>
        <td><%= results.amount %></td>
        <td><%= results.age %></td>
        <td><%= results.sex %></td>
        <td><%= results.previous_sal_due %></td>
      </tr>
    <% }); %>
   
  </table>
<% } else { %>
  <p>No employee details found</p>
<% } %>


</body>
</html>